:root {
  --logo-color: #ffffff;
  --logo-background: #4056A1;
  --logo-font: "Bungee", cursive;
  
  --body-color: #545149;
  --body-background: #f4f1ec;
  --body-font: "Source Sans Pro", sans-serif;

  --header-background: rgb(255, 187, 0);

  --hover-color:var(--header-background);

  --box-shadow: #818078;
}

.logo-color {
  color:var(--logo-color);
  background-color: var(--logo-background);
}

.logo-font{
  font-family: var(--logo-font);
}

.body {
  color:var(--body-color);
  background-color: var(--body-background);
  font-family: var(--body-font);
}



.red {
  color: red;
}

.icon-color{
  color: var(--logo-background);
}

.error {
  color: red;
  font-size: 1.4rem;
  font-weight: 600;
}