@import url('color-font.css');

.account-header {
  font-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:0.5rem;

  background-color: var(--header-background);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

@media only screen and (min-width:1025px) {
  .account-header{
    height: 100%;

    width: 34vw;
  }
}