@import url('color-font.css');

.tweet-text {
  width: 98%;
  margin:auto;
  padding: 2px;
  resize: none;
  border: none;
  border-bottom: 3px solid var(--body-color);
  padding-top: .5em;
  font-weight: 600;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0em;
}

.tweet-button {
  border: 0;
  padding: .25em 0.5em
}


